header{
    color: white;
}

header{
    background-color: blue
}

.container{
    background-color: lightgray;
    color: black;
}
p{
    color: red;
}

.highlight{
    color: green;
}

.main-content{
    color: yellow;
}

p{
    text-align: center;
}

a{
    text-decoration: none;
}

.Heading{
    text-decoration: underline;
}

.bold-text{
    font-weight: bold;
}

.intro{
    font-weight: 300;
}

*{
    font-family: 'Arial', sans-serif;
}

.custom-font{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-transform: uppercase;
}

.capitalize-text{
    text-transform: capitalize;
}