header{
    color: white;
}

header{
    background-color: blue
}

.container{
    background-color: lightgray;
    color: black;
}
p{
    color: red;
}

.highlight{
    color: green;
}

.main-content{
    color: yellow;
}

p{
    text-align: center;
}

a{
    text-decoration: none;
}

.Heading{
    text-decoration: underline;
}